{
  "extends": "stylelint-config-standard",
  "rules": {
    "indentation": 2,
    "rule-empty-line-before": "never-multi-line",
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["mixin", "include", "extend", "function", "return"]
      }
    ],
    "selector-type-no-unknown": [
      true,
      {
        "ignore": ["custom-elements", "default-namespace"]
      }
    ],
    "font-family-no-missing-generic-family-keyword": null,
    "no-descending-specificity": null,
    "selector-pseudo-element-no-unknown": [
      true,
      {
        "ignorePseudoElements": ["ng-deep"]
      }
    ],
    "function-name-case": ['lower', { ignoreFunctions: ['RGBA', 'RGB'] }]
  }
}
